<h1>Forgot/Lost your password, yiz careless git?</h1>

<p>
  Hi, <%= @user.name %> you have apparently requested a password reset.  We
  are thusly providing you with <%= link_to "this lovely link",
   edit_account_activation_url(@user.activation_token,email: @user.email) %>!
</p>
<p>
  Be more careful in the future!
</p>
